body
{
	width: 90%;
	margin: auto;
	
}
header div
{
	text-align: center;
	margin-top: 4%;
}

.site
{

}

footer .site
{

}

.top , .bot
{
	background-color: #f6f6f6;
}

.top header
{
	background-color: #eaeaea;
}

footer
{
	background-color: #353535;
}

footer img
{
	height:5%;
	width: 15%;
}